:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --black:#000000;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; }



   
    .ftco-footer li:hover a{
        color:var(--orange)!important;
    }

    .counter{
       padding:7em 0;
       background-color: #F9FAFC;
    }

    .f16{
        font-size:16px;
        line-height:19.8px;
    }

    .f18{
        font-size:18px;
        line-height:23px;
    }

    .f12{
        font-size:12px;
        line-height:18px;
    }

    .f14{
        font-size:14px;
        line-height:20px;
    }

    .f20{
        font-size:20px
    }
    .f24{
        font-size:24px
    }

    .f36{
        font-size: 36px;
        line-height:40px;
    }

    .fw_400{
        font-weight: 400;
    }
    .fw_500{
        font-weight: 500;
    }
    .fw_600{
        font-weight: 600;
    }
    .fw_700{
        font-weight: 600;
    }

    /* testimonial */
    .testimony_img{
        background-image:url('../images/hexagon.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        width:100%;
        height:350px;
        padding:3rem;
    }

  
    .test_company{
        color:#000000;
        font-size:28px;
        font-weight:600;
        line-height:34px;
    }

    .test_position{
        color:var(--orange);
        font-size:18px;
        font-weight:500;
    }

    /* .testimonial_logo{
        padding:4rem;
    } */

    .testimony-wrap{
        padding:30px 50px!important;
    }

    .testimony-section .owl-nav, .ftco-select-destination .owl-nav{
        position:static;
    }

    .testimony-section .owl-nav .owl-prev{
        position: absolute;
        left:-4%!important;
        bottom:45%;
        opacity:1;
        margin-left:0px !important


    }
    .testimony-section .owl-nav .owl-next{
        position: absolute;
        right:-4%!important;
        bottom:45%;
        opacity:1;
        margin-right:0px !important


    }

    .testimony-section .owl-nav .fa{
        color: var(--orange);
        font-size:30px;
    }

    /* EPR page  */

    /* banner */

    .biweeklyBtn{
        background-color: var(--white);
        color:var(--black);
        border-radius:25px;
        padding:12px 24px;
        font-size: 16px;
        font-weight: 400;
        border:0;
    }

    /* EPR cycle  */

    .py100{
        padding-top: 10vh;
        padding-bottom: 10vh;
    }

    .pb100{
        padding-bottom: 10vh;

    }
    .pt100{
        padding-top: 10vh;

    }

    .text-black{
        color:var(--black);
    }

    .gray_bg{
        background-color: #f2f2f2;
    }

    /* epr registeration  */

    .epr_register_card{
        background-color: var(--white);
        color:var(--black);
        padding: 50px 40px 50px 100px;
        position: relative;
        
    }
   

    .userEpr{
        position: absolute;
        left:-14%;
        top:15%;
    }

    .authorizeEPR{
        background-image: url(../images/EPR_map_banner.png);
        background-size:cover ;
        background-position: center;
        background-repeat: no-repeat;
        height: 100%;

    }

    .marginMinusTop{
        margin-top:-20px;
    }

    .accordion-button:not(.collapsed){
        color:var(--black)!important;
        box-shadow: none!important;
        background-color: #f6f6f6!important;
    }

    .accordion-button:focus{
        box-shadow: none;

    }

    .accordion-button::after{
        background-image: url(/images/plus_accordion.svg);
        background-size: 16px;
        background-position: center;

    }

    .accordion-button:not(.collapsed)::after{
        background-image:url(/images/minus_accordion.svg); 

    }
    .accordion-button{
        border:0;
        border-radius:20px;
        background-color: #f6f6f6;
        font-weight: 600;
    }
    .accordion-item:first-of-type .accordion-button{
        border-top-left-radius:20px!important;
        border-top-right-radius:20px!important;
    }

    .accordion-item{
        border:0;
    }

    /* services */

    .right_bg{
        background-image: url(../images/hexa_bg.png);
        background-position:  right center ;
        background-repeat: no-repeat;
        z-index: 0;

    }

    .left_bg{
        background-image: url(../images/hex_left_bg.png);
        background-position: left center;
        background-repeat: no-repeat;
        z-index: 0;

    }

    .serviceCard{
        box-shadow: 0 0 20px 0 rgba(0,0,0,0.1);
        border-radius:10px;
        padding:150px 60px 150px 300px; 
        background-color: var(--white);
    }
    .serviceCard2{
        box-shadow: 0 0 20px 0 rgba(0,0,0,0.1);
        border-radius:10px;
        padding:150px 300px 150px 60px; 
        background-color: var(--white);
    }

    .service_img{
        position: absolute;
        left:-16%;
        top:15%;
        width:430px;
    }
    .service_img_right{
        position: absolute;
        right:-16%;
        top:17%;
        width:430px;
    }

    .mx100{
        margin-left:100px;
        margin-right:100px;
    }

   

    .contact_form{
        background-color: #e3e3e3;
        /* box-shadow: 0 0 20px 0 rgba(0,0,0,0.1); */
        padding: 50px;
        border-radius: 10px;
    }

    .responsive-iframe {
        position: relative;

        width: 100%;
        height: 100%;
      }

      /* core values  */

      .borderHex{
        background-image: url(../images/hex_border.png);
        background-repeat: no-repeat;
        background-size: contain;
        height:200px;
        width:220px;
        cursor:pointer;
      }

      .core_text{
        color: var(--black);
      }

      .mt-9{
        margin-top:7rem;
      }

      /* about us page  */

     .grayAboutBg {
    background-image: url(../images/about_gray.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 500px;
    position: relative;
}

.masked-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

/* flip card  */
.flip-card {
    background-color: transparent;
    /* width: 300px; */
    height: 300px;
    border-radius:25px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color: var(--white);
    color: black;
    transform: rotateY(180deg);
    
  }


  /* battery waste page  */


  .tabs-nav{
    background-color:#f6f6f6;
    color: var(--black);
    border-radius:45px;
    padding:14px 30px;

  }
  .tabs-nav .tab-active{
    background-color:var(--black);
    color: var(--white);
    border-radius:21px;
    

  }
  .tabs-nav .tab-active a{
    color: var(--white);

  }
  .tabs-nav li{
    padding:8px 30px;
   
  }
  .tabs-nav li a{
    font-weight:600;
    font-size:18px;
    color:var(--black)
  }

  .tab_card{
    background-color: var(--white);
    color: var(--black);
    padding:40px;
    border-radius:10px;
    box-shadow:0 0 20px  rgba(0,0,0,0.1)
  }

  /* our work  */

  .mediaCard{
    padding:40px 56px;
    background-color: var(--white);
    color:var(--black);
    box-shadow: 0px 0px 20px rgba(0,0,0,0.1);
    border-radius: 10px;
  }

  .mask1{
    background-image: url(../images/media1.jpg);
    background-size: cover;
    height: 300px;
    background-position: center;
    
    -webkit-mask-image: url(../images/media_hex.png);
  mask-image: url(../images/media_hex.png);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;  
  }
  .mask2{
    background-image: url(../images/media2.png);
    background-size: cover;
    height: 300px;
    background-position: center;
    
    -webkit-mask-image: url(../images/media_hex.png);
  mask-image: url(../images/media_hex.png);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;  
  }
  .mask3{
    background-image: url(../images/media3.png);
    background-size: cover;
    height: 300px;
    background-position: center;
    
    -webkit-mask-image: url(../images/media_hex.png);
  mask-image: url(../images/media_hex.png);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;  
  }

  .mask a {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
}

.bgImg{
    background-image: url(../images/association_hex.png);
    background-size: cover;
    height: 300px;
    background-position: center;
}

.carousel-association .owl-nav{
    position:static;
}

.carousel-association .owl-nav .owl-prev{
    position: absolute;
    left:-3%!important;
    bottom:50%;
    opacity:1;
    margin-left:0px !important;
    font-size:20px !important;
    color: var(--orange)!important;
}
.carousel-association .owl-nav .owl-next{
    position: absolute;
    right:-3%!important;
    bottom:50%;
    opacity:1;
    margin-right:0px !important;
    font-size:20px !important;
    color: var(--orange)!important;
}

/* contact form  */
.border_transparent{
    border:1px solid transparent;
}

.inputDiv{
    border-bottom: 1px solid #828A90!important;
    border-radius: 0;
}

.inputDiv:hover,.inputDiv:focus{
    border-bottom: 1px solid var(--orange)!important;
}
.form-control:focus, .form-control:active{
    border:1px solid transparent;

}

    @media(max-width:1200px){
        .service_img{
            position: static;
            margin-bottom:30px
         
        }
        .service_img_right{
            position: static;
            margin-bottom:30px
         
        }

        .serviceCard{
         
            padding:20px; 
            display:flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        .serviceCard2{
         
            padding:20px; 
            display:flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .mx100{
            margin-left:50px;
            margin-right:50px;
        }
        
        .w_100{
            max-width: 100%!important;
            margin-left:0!important;
            flex:0 0 100%!important;
        }
    }

    @media(max-width:992px){

        .services_page .py100{
            padding-top: 30px;
            padding-bottom: 30px;
        }
        .userEpr{
            position:static!important;
            width:90px;
            height:75px;    
        }
        .mt-9{
            margin-top:0rem;
          }

        .epr_register_card{
            padding:40px;
            display:flex;
            align-items:center;
            flex-direction: column;
            justify-content: center;
            width:100%;
        }

        .text_center{
            text-align: center;
        }

        .marginMinusTop{
            margin-top:10px;
        }
        .eprauthImg{
            width:90px;
        }

        .flex_column{
            flex-direction: column;
        }

        .flex_column_rev{
            flex-direction: column-reverse;
        }
  
        .contact_form{
            background-color: #f2f2f2;
            /* box-shadow: 0 0 20px 0 rgba(0,0,0,0.1); */
            padding: 20px;
            border-radius: 10px;
        }

    }
    @media(max-width:600px){
        .testimonial_logo{
            padding:4rem;
        }
        .testimony-wrap{
            padding:20px 30px!important;
        }
        .f16{
            font-size:14px
        }
    
        .f14{
            font-size:12px
        }
    
        .f24{
            font-size:20px
        }
    
        .f36{
            font-size: 26px;
            line-height:36px;
        }

        .mx100{
            margin-left:20px;
            margin-right:20px;
        }

        .flexWrap{
            flex-direction: column;
        }
    
        .testimony-section .owl-nav .owl-prev{

            left:0%!important;

        }
        .testimony-section .owl-nav .owl-next{
            right:0%!important;
    
        }

        .img_sm{
            width:100%!important;
        }

    }